* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
}

#wrap{
    width: 100%;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid #000;
    position: relative;
}
#login_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 50px 0px 0px;
}

#login_box a{
    font-size: 17px;
    margin: 5px 0px;
}

#header_bar {
    padding: 0px 0px 10px 0px;
    height: 80px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;
}


#nav_bar ul li{
    /* background-color: #888; */
    margin: 10px 0px;
}

#nav_bar ul{
    margin:0px 100px;
    display: flex;
    flex-direction: row;
}
.nav_box a div {
    text-align: center;
}

.nav_box a div img{
    display: inline-block;
}

.nav_box{
    margin: 0px 50px;
    border: none;
}


a:visited{
    color : #000;
    
}

#logo{
    /* display: inline-block; */
    font-size: 40px;
    margin: 7px 80px 0px 110px;
    padding: 6px 0px 0px 0px;
}
#container {
    /* border: 1px solid #000; */
    display: flex;
    /* justify-content: row; */

}


#section {
    width: 100%;
    height: 900px;
    overflow: auto;
    /* background-color: pink; */
}

#page_footer {
    height: 90px;
    width: 100%;
    /* background-color: blue; */
    background: #444;
    position: absolute;
    bottom: 0;
}

#page_aside{
    width: 700px;
    height: 900px;
    background-image: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.3)),url("./images/back_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#aside_name {
    position: absolute;
    top: 500px;
    left: 50px;
    /* transform: translate(-50%, -50%); */
    color: white;
    line-height: 40px;
    font-size: 20px;
    text-shadow: -2px 0px #000, 0px 2px #000, 2px 0px #000, 0px -2px #000;
}

#container #page_aside img{
    animation: rotate_image 8s linear infinite;
    transform-origin: center;
    position: absolute;
    top: 220px;
    left: 100px;
    /* transform: translate(-50%, -50%); */
    width: 200px;
    height: 200px;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
#sjtable {
    width:700px;
    height: 600px;
}

#sjtable td{
    width: 300px;
    height: 50px;
}
#sjtable #table_day{
    height: 10px;
}
#sjtable #table_time{
    width: 10px;
    text-align: center;
}

#sjtable .f {
    background-color: purple;
    color: whitesmoke;
}

#sjtable .g {
    background-color: rgb(46, 173, 73);
    color: whitesmoke;
}

#sjtable .a {
    background-color: rgb(183, 87, 87);
    color: whitesmoke;
}

#sjtable .b {
    background-color: rgb(218, 194, 87);
    color: whitesmoke;
}

#sjtable .c {
    background-color: rgb(87, 198, 218);
    color: whitesmoke;
}

#sjtable .d {
    background-color: rgb(87, 128, 218);
    color: whitesmoke;
}

#sjtable .e {
    background-color: rgb(218, 144, 87);
    color: whitesmoke;
}

#sjtable .h {
    background-color: rgb(168, 87, 218);
    color: whitesmoke;
}
#sjtable .king {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

tr:hover {
    background-color: #ffc5c2; 
    cursor: pointer;
}

td:hover, th:hover {
    background-color: #cb332b;
    cursor: pointer; 
}
td {
    background-color: #999;
}
table {
    border: 1px solid #000;
}
th {
    background-color: #777;
}